:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
}


.card{
    border: 0px solid #e5e7eb;
    border-radius: 24px;
    width: 304px;
    height: 420px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    background: #f3f4f6;

    .card-content{
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
         background: #fff;
        .card-header{
            margin-left: 24px;
            .card-title{
                font-family: var(--second-family);
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: -0.03em;
                color: #2d6f3e;
                margin-top: 24px;
                margin-bottom: 8px;
            }
            span{
                font-family: var(--second-family);
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.03em;
                color: #4b5563;
            }
        }
        .card-footer{
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            padding: 0 24px 0 24px;
            div{
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 24px;
                line-height: 133%;
                letter-spacing: -0.02em;
                color: #2d6f3e;
            }
            button{
                border: 0px solid #e5e7eb;
                border-radius: 9999px;
                width: 66px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                background: #2d6f3e;

                margin-bottom: 24px;
            }
        }
    }
}